.user_tab
  .button-container
    = link_to '<button type="button" class="btn btn-primary btn-standard">Login</button>'.html_safe, new_user_session_path
  .button-container
    = link_to '<button type="button" class="btn btn-primary btn-standard">Register</button>'.html_safe, new_user_registration_path

